.left-side-bar {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  width: 225px;
  background-color: var(--shade2);
  overflow: hidden;
  
  display: flex;
  
  box-shadow: 2px 0px 4px 2px var(--shadow);
}

.player-list {
  width: 100%;
  padding: 5px;
  
  overflow: auto;
}

/** Scroll bar **/
/* width */
.player-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.player-list::-webkit-scrollbar-track {
  background: var(--shade2) 
}
 
/* Handle */
.player-list::-webkit-scrollbar-thumb {
  background: var(--highlight2); 
}

/* Handle on hover */
.player-list::-webkit-scrollbar-thumb:hover {
  background: var(--highlight); 
}

.player-entry:nth-child(odd) {
  background-color: var(--shade);
}

.player-entry {
  text-align: left;
  padding: 5px;
}

.player-entry:not(:first-child) {
  padding-top: 10px;
}

.player-info {
  padding-left: 5px;
  display: inline-block;
}

.rank {
  
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  overflow: hidden;
}