.left-side-bar {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  width: 225px;
  background-color: var(--shade2);
  overflow: hidden;
  
  display: flex;
  
  box-shadow: 2px 0px 4px 2px var(--shadow);
}

.player-list {
  width: 100%;
  padding: 5px;
  
  overflow: scroll;
}

.player-entry:nth-child(odd) {
  background-color: var(--shade);
}

.player-entry {
  text-align: left;
  padding: 5px;
}

.player-entry:not(:first-child) {
  padding-top: 10px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-width: 3px;
  overflow: hidden;
}