.common-header-container {
  /*Sets the header at the top of the page, all the way across, 57px high*/
  position:fixed;
  top:0;
  width:100%;
  height: var(--header-height);
  overflow: hide;
  
  
  background-color: var(--shade);
  box-shadow: 0px 2px 4px 2px var(--shadow);
  
  z-index: 999;
}

.narrow-override {
  max-width: 100%;
}

.common-header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  
  transition: max-width 0.5s, background-color 0.5s;
}

.header-logo * {
  margin: auto 0;
}

.header-content {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  
  display:flex;
  align-items: center;
}

.header-content-item {
  height: 100%;
  margin: 0 10px;
  overflow: hide;
}
