.common-header {
  
  /*Sets the header at the top of the page, all the way across, 57px high*/
  position:fixed;
  top:0;
  width:100%;
  height: var(--header-height);
  
  display:flex;
  
  background-color: var(--header);
  box-shadow: 5px 5px 5px 5px var(--shadow);
}

.header-logo h1 {
  margin-top:0;
}