.common-header-container {
  /*Sets the header at the top of the page, all the way across, 57px high*/
  position:fixed;
  top:0;
  width:100%;
  height: var(--header-height);
  
  background-color: var(--header);
  box-shadow: 0px 2px 4px 2px var(--shadow);
  text-align: center;
}

.common-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo h1 {
  margin-top:0;
}

* {
  outline: auto;
}