.dash-section {
  margin: 0 10px;
  padding: 10px 0;
}

.dash-section:not(:first-child) {
  border-top: 1px solid var(--highlight);
}


.bottom-logo {
  color: grey;
  margin-top: 5px;
}

/*Sections of a grid*/
.cell {
  padding: 0 8px;
  display: inline-block;
}

.dash-box {
  padding: 15px;
  overflow: hidden;
  
  background-color: var(--shade2);
  border: 1px solid #111;
  border-radius: 3px;
  box-shadow: 0 2px rgb(0 0 0 / 13%);
}

.cell-header {
  margin: -15px -15px 15px -15px;
  
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  
  padding: 5px;
  background-color: var(--shade);
  border-bottom: solid 1px var(--shadow);
}

.cell:first-child {
  padding-left: 0;
}

.cell:last-child {
  padding-right: 0;
}

.w-3-5 {
  width: 60%;
}

.w-2-5 {
  width: 40%;
}

.w-1-2 {
  width: 50%;
}