.dash-section {
  margin: 0 10px;
  padding: 10px 0;
}

.dash-section:not(:first-child) {
  border-top: 1px solid var(--highlight);
}


.bottom-logo {
  color: grey;
  margin-top: 5px;
}

/*Sections of a grid*/
.cell {
  padding: 0 8px;
  display: inline-block;
}

.dash-box {
  padding: 15px;
  overflow: hidden;
  
  background-color: var(--shade);
  border: 1px solid #111;
  border-radius: 3px;
}

.cell:first-child {
  padding-left: 0;
}

.cell:last-child {
  padding-right: 0;
}

.w-3-5 {
  width: 60%;
}

.w-2-5 {
  width: 40%;
}

.w-1-2 {
  width: 50%;
}

.dash-box {
  
}